Dobrý den,


níže uvedená osoba žádá o přístup do bezdrátové síťe FZU-GUEST a Vás uvedla jako svého garanta.

Jméno: {{ first_name }}
Příjmení: {{ last_name }}
Telefon: {{ phone }}
Mail: {{ mail }}
Garant: {{ garant_mail }}

Pokud uvedenou osobu znáte, a jste ochoten/ochotna nést následky za její počínání v počítačové síti FZÚ, můžete její přístup do bezdrátové sítě schválit přihlášením se k webové stránce:

https://portal.fzu.cz/confirm/{{ code_reg }}

Pro přihlášení použijte prosím Vaše ústavní jméno a heslo (stejné jako ke službě email).


S pozdravem

Správa počítačové sítě FZU

