#
# Just example !!!!!!!!!!!!!!!
#

Dear coleague,


the person bellow asked us for an access to FZU-GUEST network and You have been fill in form as person who know him.

Jméno: {{ first_name }}
Příjmení: {{ last_name }}
Telefon: {{ phone }}
Mail: {{ mail }}
Garant: {{ garant_mail }}

If you know this person and If you are abble to confirm that this person should have access to academic network, please confirm this request by submit link bellow and filling your email password.

https://portal.fzu.cz/confirm/{{ code_reg }}


Best regards

AVCR FZU servers and infrastructure support team
