Dobrý den,

tento mail Vám byl zaslán na základě toho, že človek, který o sobě vyplnil níže uvedené údaje, Vás uvedl jako svého garanta, který mu potvrdí, že uvedené údaje jsou správné, a že tento člověk může využívat služeb radiové sítě FZU.

Zkontrolujte prosim nasledujici udaje:

Jmeno: {{ first_name }}
Prijmeni: {{ last_name }}
Telefon: {{ phone }}
Mail: {{ mail }}
Garant: {{ garant_mail }}


Pokud vyse uvedeneho cloveka osobne znate, a jste ochoten se zarucit, ze bude dodrzovat pravidla pro pouzivani pocitacove site FzU, kliknete prosim na nasledujici odkaz:

https://portal.fzu.cz/confirm/{{ code_reg }}

Pro vstup k potvrzeni zadosti na vyse uvedene adrese se prihlaste Vasim ustavnim jmenem a heslem, napr. jako se prihlasujete do el. posty.



S pozdravem


Sprava pocitacove site FzU
