body {
	margin: 20px;
	font-family: arial;
	background: #cfdde0;
	font-size: 18px;
	color: #444;
}

p:first-child {
	margin: 0 0 30px 0;
	text-align: center;
}

.header {
	display: block;
	width: 400px;
	padding: 5px 20px;
	margin: auto;
	background: linear-gradient( to bottom, #79c, #fff);
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
	border-radius: 4px 4px 0 0;
}

.container {
	display: block;
	width: 400px;
	padding: 20px;
	padding-bottom: 20px;
	margin: auto;
	background: white;
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
	border-radius: 0 0 4px 4px;
}

.logo {
	border: 0px;
	height: 80px;
	margin-bottom: 20px;
	background: url("/static/logo_400.png");
}

.flag {
	padding: 20px 10px;
}

.flag img {
	float: right;
	height: 22px;
	width: 22px;
	padding: 0 0 0 10px;
}

.flag .active img {
	opacity: .4;
}

input[type=text],
input[type=password],
input,
select {
	padding: 5px;
	width: 100%;
	size: 22px;
	border-radius: 4px;
	border: none;
	background: #ddd;
	font-size: .8em;
	height: 30px;
}

option {
	padding: 2px 10px;
}

dt {
	float: left;
	width: 35%;
	padding: 14px 20px 0 0;
	text-align: right;
	clear: both;
}

dd {
	padding-top: 10px;
	float: left;
	width: 50%;
	margin: 0;
}
	
button {
	padding: 8px 20px;
	background: linear-gradient( to bottom, #8ab, #35a);
	margin: 30px 0 0 160px;
	border: 1px solid #57c;
	border-radius: 5px;
	font-size: 18px;
	color: white;
}

button:hover {
	background: linear-gradient( to bottom, #35a, #8ab);
}

.error {
	color: red;
}

.error_msg {
	color: red;
	font-size: 70%;
	margin-left: 182px;
	width: 48%;
	text-align: left;
	line-height: 1.4em;
}

.error_msg ul {
	padding-left: 16px;
}
